* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}


button{
      background-color: #328EB7;
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
    box-shadow: rgb(40 41 61 / 4%) 0px 0px 1px, rgb(96 97 112 / 16%) 0px 2px 4px;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
}
